@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account Manager";
    var q = Json.Encode(ViewBag.user_question);
    var user_security_answer = Json.Decode(q);
    var user_detail = ViewBag.user_detail as TradingVLU.Models.user;
}
<!------ Include the above in your HEAD tag ---------->
<div class="container">

    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="" data-target-id="profile"><i class="fa fa-user-o"></i> Profile</a></li>
                @*<li><a href="" data-target-id="settings"><i class="fa fa-cog"></i> Settings</a></li>*@
                <li><a href="" data-target-id="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Name</h3>
                </div>
                <div class="panel-body">
                    @user_detail.name -
                    <span id="formEditName">
                        @using (Html.BeginForm("updateName", "User", FormMethod.Post, new { role = "form" }))
                        {
                            <input id="inputNewName" class="form-check-inline" type="text" name="name" maxlength="100" placeholder="Enter new name" autocomplete="off" />
                            <span><button id="btnSaveName" class="btn btn-primary" type="submit" disabled="disabled">Update</button></span>
                            <span><a id="cancelEditName" class="btn btn-danger">Cancel</a></span>
                        }
                    </span>
                    <span id="openFormEdit">
                        <button id="editName" class="btn btn-info">Edit</button>
                    </span>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Email</h3>
                </div>
                <div class="panel-body">
                    @user_detail.email
                </div>
            </div>
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Password</h3>
                </div>
                <div class="panel-body">
                    <a href="~/user/ChangePassword" class="btn btn-primary" role="button"> Change Password</a>
                </div>
            </div>
        </div>
        <div class="col-md-9  admin-content" id="settings">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Notification</h3>
                </div>
                <div class="panel-body">
                    <div class="label label-success">allowed</div>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Newsletter</h3>
                </div>
                <div class="panel-body">
                    <div class="badge">Monthly</div>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin</h3>
                </div>
                <div class="panel-body">
                    <div class="label label-success">yes</div>
                </div>
            </div>
        </div>
        <div class="col-md-9  admin-content" id="logout">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Confirm Logout</h3>
                </div>
                <div class="panel-body">
                    Do you really want to logout ?  
                    <a href="#" class="label label-danger"
                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                        <span>   Yes   </span>
                    </a>
                    <a href="/account" class="label label-success"> <span>  No   </span></a>
                </div>
                <form id="logout-form" action="#" method="POST" style="display: none;"></form>

            </div>
        </div>
    </div>
</div>

@section _script_bottom{
    <script>
        $('#formEditName').hide();

        $('#openFormEdit').on('click', () => {
            $('#formEditName').show(300);
            $('#openFormEdit').hide(200);
        });

        $('#btnSaveName').on('click', () => {
            $('#formEditName').hide(200);
            $('#openFormEdit').show(300);
        });

        $('#cancelEditName').on('click', () => {
            $('#formEditName').hide(200);
            $('#openFormEdit').show(300);
        });

        $('#inputNewName').on('input', () => {
            const value = $('#inputNewName').val().trim().length;
            const text = $('#inputNewName').val().trim();
            //const filter = /^[A-Za-z]+$/;
            const filter = "^([a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ]+\\s)*[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ]+$";
            if (value >= 6 && text.match(filter)) {
                $('#btnSaveName').removeAttr('disabled');
            } else if (value < 6 || !text.match(filter)) {
                $('#btnSaveName').attr('disabled', 'disabled');
            }
        });

        $(document).ready(function () {
            var navItems = $('.admin-menu li > a');
            var navListItems = $('.admin-menu li');
            var allWells = $('.admin-content');
            var allWellsExceptFirst = $('.admin-content:not(:first)');
            allWellsExceptFirst.hide();
            navItems.click(function (e) {
                e.preventDefault();
                navListItems.removeClass('active');
                $(this).closest('li').addClass('active');
                allWells.hide();
                var target = $(this).attr('data-target-id');
                $('#' + target).show();
            });
        });
    </script>
}


