
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TradingVLU.Models.security_question>
<div class="ForgotPass_index">
    <div class="main-login main-center">
        <div class="container">
            <h2 class="title" style="text-align: center">Forgot Password</h2>
            <form action="@Url.Action("ForgotPassword","User")" method="post" >
                <div class="form-group">
                    @{ 
                        if (Session["erorr_forgot"] != null)
                        {
                            <span style="color:red;background-color:antiquewhite" id="wrong-infor-account"><b>Sorry, we can't find any account with your information. Please try again or create a new account!</b></span>
                            <br />
                                Session.Remove("erorr_forgot");
                            }


                        }
                    <label class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input id="form-User-name" class="form-control text-box single-line" name="username" placeholder="Enter your Username" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="id_security_question">Security Question</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                            <select class="form-control" data-val="true" data-val-number="The field Security Question must be a number." data-val-range="The field Security Question must be between 1 and 13." data-val-range-max="13" data-val-range-min="1" data-val-required="Please select a value" id="id_security_question" name="id_security_question" placeholder="Select your security question">
                                <option value="" disabled>Select question</option>
                                @{ foreach (var ques in Model)
                                    {
                            <option value=@ques.id>@ques.question</option>
                                        }
                                    }
                            </select>
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="id_security_question" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="answer_security_question">Answer</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Answer must not be null" id="answer_security_question" name="answer_security_question" placeholder="Enter your answer" type="text" value="">
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="answer_security_question" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <button id="btn_GetPass" type="submit" class="btn btn-warning">Get new Password</button>
            </form>
        </div>
    </div>
</div>