
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ForgotPass_index">
    <div class="main-login main-center">
        <div class="container">
            <h2 class="title" style="text-align: center">Forgot Password</h2>
            <div class="form-group">
                <label class="cols-sm-2 control-label">Username</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input id="form-User-name" class="form-control text-box single-line" name="username" placeholder="Enter your Username" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="cols-sm-2 control-label" for="id_security_question">Security Question</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                        <select class="form-control" data-val="true" data-val-number="The field Security Question must be a number." data-val-range="The field Security Question must be between 1 and 13." data-val-range-max="13" data-val-range-min="1" data-val-required="Please select a value" id="id_security_question" name="id_security_question" placeholder="Select your security question">
                            <option value="">Select question</option>
                            <option value="1">Cha của bạn sinh ra ở tỉnh/thành phố nào?</option>
                            <option value="2">Bạn thân nhất thời thơ ấu của bạn có họ gì?</option>
                            <option value="3">Tên trường tiểu học của bạn là gì?</option>
                            <option value="4">Con đường nơi bạn lớn lên tên gì?</option>
                            <option value="5">Con vật cưng đầu tiên của bạn tên gì?</option>
                            <option value="6">Tên của nhạc sĩ bạn thích nhất?</option>
                            <option value="7">Giáo viên bạn thích nhất khi học tiểu học có họ gì?</option>
                            <option value="8">Lúc nhỏ bạn thích xem phim hoạt hình nào nhất?</option>
                            <option value="9">Món khoái khẩu của bạn lúc còn nhỏ là gì?</option>
                            <option value="10">Nhân vật trong phim mà bạn thích nhất là ai?</option>
                            <option value="11">Ai là tác giả bạn thích nhất?</option>
                            <option value="12">Đội thể thao bạn thích nhất tên là gì?</option>
                            <option value="13">Tựa quyển sách bạn thích đọc nhất?</option>
                        </select>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-for="id_security_question" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="cols-sm-2 control-label" for="answer_security_question">Answer</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
                        <input  class="form-control text-box single-line" data-val="true" data-val-required="Answer must not be null" id="answer_security_question" name="answer_security_question" placeholder="Enter your answer" type="text" value="">
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-for="answer_security_question" data-valmsg-replace="true"></span>
                </div>
            </div>

            <button id="btn_GetPass" type="button" class="btn btn-warning" onclick="validatePassword()">Get new Password</button>

        </div>
    </div>
</div>