@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="page-header">
    <div class="navbar">
        <center>
            @*<h1>ABOUT US</h1>*@
            <h3 class="component-ttl" style="padding-right: 1px"><span> About VLU Trading Website </span></h3>
        </center>
    </div>
</div>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-custom">
                    <div class="panel-body panel-body-custom">
                        <h1 style="text-align:center"><strong>Welcome</strong></h1>
          
                        <p style="text-align:justify">

                            VLU Trading Project is a website which support faculty and staff of Van Lang University in posting and buying their own product.<br />
                            All of users have to sign in before they interact with VLU Trading Web.  <br />
                            Seller post item which they want to sell (name of products, amount  of products, detail, contact information…). <br />
                            Manage Transaction Admin will be confirm that post before it’s posted on web.  <br />
                            Buyer can see the post and transact to the Seller also cancel the order. The Seller will confirm all of it..  <br />
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic typesetting, remaining. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining . <br />
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
