@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="page-header">
    <div class="navbar">
        <center>
            @*<h1>ABOUT US</h1>*@
            <h3 class="component-ttl" style="padding-right: 1px"><span> About VLU Trading Website </span></h3>
        </center>
    </div>
</div>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-custom">
                    <div class="panel-body panel-body-custom">
                        <h1 style="text-align:center"><strong>Welcome</strong></h1>
                        <p style="text-align:justify">
                            Perfectperty Company (PPC) is known as a professional enterprise operating in the field of real estate brokerage and marketing both domestically and internationally. PPC focuses on two main areas:<br />
                            - Real estate<br />
                            - Tourist Resorts<br />
                            PPC is the most trusted and satisfied option for all customers. PPC is found and developed on the basis of deep understanding of the real estate market, law and strong relationships with professional real estate investors in Vietnam and overseas.<br />
                            With the achievements, PPC affirms its position in the real estate market, and gradually becomes one of strong companies with sustainable and dynamic development strategies and power for the international integration.<br />
                            PPC&rsquo;s products and services are made to be world-class and everlasting. PPC commits to customers&rsquo; satisfaction as a goal of great success in the future. Therefore, PPC is confident that it can contribute to raising the country&#39;s position, improving people&#39;s quality of life, which helps to enrich the country.<br />
                            PPC aims to build a sustainable, prestigious and world-class brand leading foreign investors to Vietnam as an attractive destination for investment. Attempting constantly with the power and leading position, PPC has ability to achieve planned strategic goals.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
