
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "add";
}
<link type="text/css" rel="stylesheet" href="~/Content/css/register.css" />

<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h2 class="title">Register</h2>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            @using (Html.BeginForm("add", "ItemManagementController", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Item Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Description</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="description" id="email" placeholder="Enter your Email" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Quantity</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="quantity" id="username" placeholder="Enter your Username" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Status</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="status" id="password" placeholder="Enter your Password" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Images</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="span4">
                                <input type="file" name="uploadImages" multiple="multiple" class="input-files" accept=".png , .jpg, .jpeg" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
                </div>
                <div class="login-register">
                    <a href="index.php">Login</a>
                </div>
            }
        </div>
    </div>
</div>