
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    @*<h2>Congratuation</h2>*@
    <div class="alert alert-success" >
        <b>Your order will be confirmed in 24h</b>
    </div>
</div>